[submodule "bundle/vim-sensible"]
	path = bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "bundle/vim-colorschemes"]
	path = bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/python-mode"]
	path = bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/TagHighlight"]
	path = bundle/TagHighlight
	url = https://github.com/vim-scripts/TagHighlight
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "bundle/arm-syntax-vim"]
	path = bundle/arm-syntax-vim
	url = https://github.com/ARM9/arm-syntax-vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/mips-syntax-vim"]
	path = bundle/mips-syntax-vim
	url = https://github.com/ARM9/mips-syntax-vim.git
[submodule "bundle/dark-terminal2"]
	path = bundle/rdark-terminal2
	url = https://github.com/vim-scripts/rdark-terminal2.vim.git
[submodule "bundle/vim-syntax-extra"]
	path = bundle/vim-syntax-extra
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "bundle/nim.vim"]
 	path = bundle/nim.vim
 	url = https://github.com/zah/nim.vim.git
[submodule "bundle/zig.vim"]
 	path = bundle/zig.vim
 	url = https://github.com/zig-lang/zig.vim
[submodule "bundle/syntastic"]
 	path = bundle/syntastic
 	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go.git
[submodule "bundle/vim-promela-syntax"]
	path = bundle/vim-promela-syntax
	url = https://github.com/blyoa/vim-promela-syntax
[submodule "bundle/vim-glsl"]
	path = bundle/vim-glsl
	url = https://github.com/tikhomirov/vim-glsl.git
